<div>
  <div class="text-field-wrapper">
    <label>ספסיפיקציות יצרן</label>
    <file-upload (fileUploaded)="onFileUploaded('manSpecificationFiles', $event)"></file-upload>
    <uploaded-files *ngIf="lab.manSpecificationFiles.length > 0" [filesList]="lab.manSpecificationFiles"></uploaded-files>
  </div>

  <div class="text-field-wrapper">
    <label class="title">הוספת בדיקה חדשה</label>
  </div>

  <div class="text-field-wrapper">
    <label>שם מעבדה</label>
    <ss-multiselect-dropdown [options]="labs"
                             [(ngModel)]="selectedLab"
                             [settings]="inputConfig.singleSelectSettingsWithSearch"
                             [texts]="inputConfig.selectBoxTexts"
                             class="large-select">
    </ss-multiselect-dropdown>


    <input *ngIf="selectedLab ? (selectedLab.includes('other')) : false"
           [(ngModel)]="selectedLabOther"
           [@myAnimation]
           type="text"
           placeholder="הזן שם מעבדה">
    <file-upload *ngIf="selectedLab ? (selectedLab.includes('other')) : false" (fileUploaded)="onFileUploadedTest('labCertificationFiles', $event)" [buttonText]="'תעודת הסמכה'"></file-upload>
    <uploaded-files *ngIf="labCertificationFiles.length > 0" [filesList]="labCertificationFiles"></uploaded-files>
  </div>

  <div class="text-field-wrapper">
    <label>מספר תעודה</label><input [(ngModel)]="certNumber" class="large" type="text">
  </div>

  <div class="text-field-wrapper">
    <label>תאריך בדיקה</label>
    <datetime [(ngModel)]="testDate" [timepicker]="false"
              [datepicker]="{ placeholder: 'בחר תאריך',  format: 'd/m/yyyy' }"></datetime>
  </div>

  <div class="text-field-wrapper">
    <label>הוספת קובץ</label>
    <file-upload (fileUploaded)="onFileUploadedTest('testFiles', $event)"></file-upload>
    <uploaded-files *ngIf="testFiles.length > 0" [filesList]="testFiles"></uploaded-files>
  </div>

  <div class="text-field-wrapper">
    <label>סוג בדיקה</label>
    <ss-multiselect-dropdown [options]="tests"
                             [(ngModel)]="selectedTest"
                             [settings]="inputConfig.singleSelectSettingsWithSearch"
                             [texts]="inputConfig.selectBoxTexts"
                             (ngModelChange)="onTestSelect($event)"
                             class="large-select">
    </ss-multiselect-dropdown>
  </div>


  <div class="text-field-wrapper">

    <label>תת-בדיקה</label>

    <ss-multiselect-dropdown [options]="subTests"
                             [(ngModel)]="selectedSubTests"
                             [settings]="inputConfig.multiSelectSettingsWithSearch"
                             [texts]="inputConfig.selectBoxTexts"
                             class="large-select">
    </ss-multiselect-dropdown>

    <input *ngIf="subTests ? (selectedSubTests.includes('other')) : false"
           [(ngModel)]="selectedSubTestsOther"
           [@myAnimation]
           type="text"
           placeholder="הזן אחר">
    <button class="btn my-btn" (click)="addTests()" [disabled]="selectedSubTests.length === 0">הוסף בדיקות</button>
  </div>

  <div *ngFor="let addedTest of addedTests let i = index" class="text-field-wrapper">
    <div class="title-wrapper">
      <label class="bold">{{getTestHebName(addedTest.test)}}</label>
    </div>

    <div *ngFor="let subTest of filterOther(addedTest.subTests); let i = index" class="text-field-wrapper">
      <label>תוצאת בדיקת {{getSubTestHebName(addedTest.test, subTest.name)}}</label>
      <input style="margin-left: 30px;" [(ngModel)]="subTest.result" class="small" type="text">
      <label>תחום מוצהר ע"י היצרן</label>
      <input [(ngModel)]="subTest.area" class="small" type="text">
    </div>

    <div *ngIf="isIncludesOtherSubtest(addedTest.subTests)" class="text-field-wrapper">
      <label>תוצאת בדיקת {{addedTest.otherSubTestName}}</label>
      <input style="margin-left: 30px;" [(ngModel)]="addedTest.otherResult" class="small" type="text">
      <label>תחום מוצהר ע"י היצרן</label>
      <input [(ngModel)]="addedTest.otherArea" class="small" type="text">
    </div>
  </div>


  <div class="text-field-wrapper">
    <label>שמור בדיקה</label>
    <button class="btn my-btn" (click)="saveTest()">שמור</button>
    <button *ngIf="currentlyEditedIndex !== null" class="btn my-btn" (click)="cancelEdit()">בטל עריכה</button>
  </div>

  <ngx-datatable #myTable
                 class="material"
                 [columnMode]="'standard'"
                 [rows]="lab.tests"
                 [columns]="columns"
                 style="margin-bottom: 150px;"
                 headerClass="'table-header'">
    <ngx-datatable-row-detail [rowHeight]="getHeight" #myDetailRow>
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <table style="width:50%">
          <tr>
            <th>תת-בדיקה</th>
            <th>תוצאה</th>
            <th>תחום מוצהר</th>
          </tr>
          <tr *ngFor="let st of filterOther(row.subTests)">
            <td>{{getSubTestHebName(row.test, st.name)}}</td>
            <td>{{st.result}}</td>
            <td>{{st.area}}</td>
          </tr>
          <tr *ngIf="row.otherSubTestName">
            <td>{{row.otherSubTestName}}</td>
            <td>{{row.otherResult}}</td>
            <td>{{row.otherArea}}</td>
          </tr>
        </table>
      </ng-template>
    </ngx-datatable-row-detail>
  </ngx-datatable>

</div>
<div style="direction: ltr">{{diagnostic}}</div>

<ng-template #expandBtnTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
  <a
    href="#"
    [class.datatable-icon-left]="!expanded[rowIndex]"
    [class.datatable-icon-down]="expanded[rowIndex]"
    title="Expand/Collapse Row"
    (click)="toggleExpandRow(row, rowIndex)">
  </a>
</ng-template>

<ng-template #dateTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
  {{row.testDate | date: 'dd/MM/yyyy'}}
</ng-template>

<ng-template #filesTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
  <img class="file-mag" src="/assets/images/file_mag.png" (click)="showTestFiles(row.testFiles)">
</ng-template>

<ng-template #deleteTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
  <i style="cursor:pointer;" class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteTest(rowIndex)"></i>
</ng-template>

<ng-template #editTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
  <i style="cursor:pointer;" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" (click)="editTest(rowIndex)"></i>
</ng-template>



<uploaded-files [hideIcon]="true" #fileListViewer [filesList]="currentFileList"></uploaded-files>
