.tabs-container {
	margin:25px;
	font-family: Heebo;
}

.nav-pills:first-child {
	border-right: 1px solid #ccc;
}

.nav-pills>li {
	float: right;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	width: 83px;
  	max-height: 40px;
	margin: 0;
	text-align: center;
	cursor: pointer;

}

li>a {
	border-radius: 0px;
	color: #50b4fd;
	font-weight: 500;

}

li>a.selected {
	border-radius: 0px;
	background-color: #50b4fd;
	color: white;
	font-weight: 500;

}

li>a.long-tab-name {
	line-height: 15px;
	padding-top: 4px;
	padding-bottom: 6px;
}

.tab-content {
	width: 100%;
	padding: 14px;
	border: 1px solid #ccc;
	min-height: calc(100vh - 170px);
}








