.logo-section {
	height: 100px;
	width: 240px;
	background-color: #50b4fd;
}

header {
    align-items: center;
    background: white;
    /*box-shadow: 0 .1em 1.5em rgba(84, 85, 85, .5);*/
    color: #fff;
    display: flex;
    /*padding: 1em;*/
    height: 100px;
    direction: rtl;
}

.demo-sidebar {
    background-color: #333644;
    padding: 2em 1em
}

.demo-header__toggle {
    background: transparent;
    border: .15rem solid #50b4fd;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem
}
.demo-header__toggle:after {
    background: #50b4fd;
    content: "";
    height: .15rem;
    left: 0;
    margin-top: -.075rem;
    position: absolute;
    top: 50%;
    width: 100%
}

.toggle-sidebar {
	width: 10px;
	height: 100px;
	background: #50b4fd;
	position: relative;
	right: 0px;
	border-right: 1px solid white;
    cursor: pointer;
}

.user-name {
	font-family: Heebo;
	color: #b0b0b0;
	float: right;
}

.content {
    direction: rtl;
} 

.toggle-sidebar-2 {
    width: 10px;
    height: 100px;
    background: #333644;
    position: relative;
    right: 0px;
    border-right: 1px solid white;
    cursor: pointer;
    height:calc(100vh - 100px);
}
