* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}
body,
html {
	height: 100%;
	width: 100%;
	font-family: Heebo, serif;
}
body {
	background: #f6f6f6 !important;
	color: #545555;
	font-family: Heebo serif;
}
.demo-sidebar {
	background-color: #333644;
	padding: 2em 1em
}
ng-sidebar aside {
	padding: 0 !important;
}


/* css for ng-select */
.rtl-select .ui-select-match > .btn {
	border-radius: 0;
}
.rtl-select .form-control.ui-select-search {
	border-radius: 0;
}

.rtl-select .ui-select-choices.dropdown-menu {
	border-radius: 0;
}

.btn.btn-default.btn-secondary.form-control.ui-select-toggle {
	box-shadow: 0 0 0 white;
}
/* end css for ng-select */

/* css for rtl ng-select */
.rtl-select .ui-select-match-text.pull-left {
	float: right !important;
}

.rtl-select .btn.btn-default.btn-secondary.form-control.ui-select-toggle >i.caret.pull-right {
	left: 10px !important;
	right: auto;
}

.rtl-select .ui-select-placeholder.text-muted {
	float: right !important;
}

.rtl-select .ui-select-choices.dropdown-menu {
	text-align: right !important;
}
/* end css for rtl ng-select */

/* checkbox css */
.checkbox label:after,
.radio label:after {
	content: '';
	display: table;
	clear: both;
}

.checkbox .cr,
.radio .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #a9a9a9;
	border-radius: .25em;
	width: 1.3em;
	height: 1.3em;
	float: left;
	margin-right: .5em;
}

.radio .cr {
	border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
	position: absolute;
	font-size: .8em;
	line-height: 0;
	top: 50%;
	left: 20%;
}

.radio .cr .cr-icon {
	margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
	display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
	transform: scale(3) rotateZ(-20deg);
	opacity: 0;
	transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
	opacity: .5;
}

span.cr.rtl {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}

.checkbox {
  margin-bottom: 0px;
  margin-top: 0px;
}
/* end checkbox css */

/* inputs unified sizes */
input[type="text"].small {
	width: 172px;
}

input[type="text"].large {
	width: 300px;
}

.select-wrapper.small {
	width: 172px;
	margin-right: -3px;

}

.select-wrapper.large {
	width: 300px;
	margin-right: -3px;
}
/* end inputs unified sizes */

label, input {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

label.title-label {

}

.inner-input-label {
  display: inline-block;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 0;
  width: 90px;
}

textarea {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-bottom: 15px;
}

.text-field-wrapper > label {
	width: 120px;
	margin-left: 5px;
	margin-bottom: 0;
	font-weight: 500;
}

.text-field-wrapper > label.title {
  width: auto;
  margin-left: 5px;
  margin-bottom: 0;
  font-weight: 700;
}

.select-wrapper {
	display: inline-block;
}

.indent-right {
	margin-right: 127px;
}

.text-field-wrapper {
	min-height: 55px;
}

.text-field-wrapper.auto-height {
	height: auto !important;
}

div.checkbox>label{
	padding-top: 0px;
	padding-bottom: 0px;
}

label.my-btn,
div.my-btn,
button.my-btn {
	display: inline-block;
	height: 32px;
	width: 125px;
	background-color: #50b4fd;
	color: white !important;
	line-height: 32px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 0 !important;
	font-weight: 500;
	margin: 0;
  border-radius: 0;
}

label.my-btn:hover,
div.my-btn:hover,
button.my-btn:hover{
	opacity: 0.8;
  color: white;
}

input[type="text"] {
	height: 32px;
	border: 1px solid #cccccc;
	padding-right: 8px;
	margin-left: 3px;
}

.file-mag {
	width: 24px;
	cursor: pointer;
}

.file-mag:hover {
	opacity: 0.7;
}

.display-ib {
  display: inline-block;
}

.dropdown-menu>li>a {
  text-align: right;
}

button.dropdown-toggle.btn.btn-default.btn-secondary {
  border-radius: 0px;
  text-align: right;
}

.large-select>.dropdown>button.dropdown-toggle.btn.btn-default.btn-secondary {
  width: 300px;
}

.medium-select>.dropdown>button.dropdown-toggle.btn.btn-default.btn-secondary {
  width: 171px;
}

.dropdown-menu.pull-right.dropdown-menu-right {
  text-align: right;
}



span.caret {
  float: left;
  margin-top: 8px;
}


/* css for tables */

.table-header {
  text-align: center !important;
}

.cell-center-data {
  text-align: center !important;
}

.rtl-table .table-header {
	float: right !important;
	text-align: right !important;
	word-wrap: break-word;
}

.rtl-table .datatable-body-cell-label {
  text-align: right;
}

.last-line {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

/* css for datepicker */

.form-group.input-group.date > .input-group-addon {
	display: none;
}

.form-inline.ng2-datetime {
	display: inline-block;
}




