<div>
  <div class="text-field-wrapper">
    <label class="title">הוספת אריזה חדשה</label>
  </div>
  <div class="text-field-wrapper">
    <label>אריזה</label>
    <ss-multiselect-dropdown [options]="packages"
                             [(ngModel)]="pkg"
                             [settings]="inputConfig.singleSelectSettingsWithSearch"
                             [texts]="inputConfig.selectBoxTexts"
                             class="medium-select">
    </ss-multiselect-dropdown>
  </div>
  <div class="text-field-wrapper">
    <label>תאור/גוון</label><input [(ngModel)]="description" class="large" type="text">
  </div>
  <div class="text-field-wrapper">
    <label>ברקוד</label><input [(ngModel)]="barcode" class="large" type="text">
  </div>
  <div class="text-field-wrapper">
    <label>סוג אריזה</label>
    <ss-multiselect-dropdown [options]="packageTypes"
                             [(ngModel)]="packageType"
                             [settings]="inputConfig.singleSelectSettingsWithSearch"
                             [texts]="inputConfig.selectBoxTexts"
                             class="large-select">
    </ss-multiselect-dropdown>
    <input *ngIf="packageType ? (packageType.includes('other')) : false"
           [(ngModel)]="packageTypeOther"
           [@myAnimation]
           type="text"
           placeholder="הזן סוג אריזה">
  </div>
  <div class="text-field-wrapper">
    <label>קיבולת אריזה</label><input [(ngModel)]="capacity" class="large" type="text">
    <ss-multiselect-dropdown [options]="sizeUnits"
                             [(ngModel)]="sizeUnit"
                             [settings]="inputConfig.singleSelectSettingsWithSearch"
                             [texts]="inputConfig.selectBoxTexts"
                             class="medium-select">
    </ss-multiselect-dropdown>
  </div>
  <div class="text-field-wrapper">
    <label>הרכב חומר אריזה</label><input [(ngModel)]="packageMaterial" class="large" type="text">
    <file-upload (fileUploaded)="onFileUploaded('packageMaterialSpecFiles', $event)" [buttonText]="'צרף מפרט'"></file-upload>
    <uploaded-files *ngIf="packageMaterialSpecFiles.length > 0" [filesList]="packageMaterialSpecFiles"></uploaded-files>
  </div>
  <div class="text-field-wrapper">
    <label>קובץ ספסיפיקציות</label>
    <file-upload (fileUploaded)="onFileUploaded('specificationsFiles', $event)"></file-upload>
    <uploaded-files *ngIf="specificationsFiles.length > 0" [filesList]="specificationsFiles"></uploaded-files>
  </div>
  <div class="text-field-wrapper">
    <label>תצלום אריזה</label>
    <file-upload (fileUploaded)="onFileUploaded('photoFiles', $event)"></file-upload>
    <uploaded-files *ngIf="photoFiles.length > 0" [filesList]="photoFiles"></uploaded-files>
  </div>
  <div class="checkbox indent-right">
    <label>
      <input type="checkbox" [(ngModel)]="recycled" value="">
      <span style="float:right" class="cr rtl"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
      ממוחזר
    </label>
  </div>
  <br/>
  <div class="checkbox indent-right">
    <label>
      <input type="checkbox" [(ngModel)]="foodGrade" value="">
      <span style="float:right" class="cr rtl"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
      תואם food grade
    </label>
  </div>
  <br/>
  <div class="checkbox indent-right">
    <label>
      <input type="checkbox" [(ngModel)]="heavyMetals" value="">
      <span style="float:right" class="cr rtl"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
      מתכות כבדות (עבור א. מתכת)
    </label>
  </div>
  <br/>
  <div class="checkbox indent-right">
    <label>
      <input type="checkbox" [(ngModel)]="fatalities" value="">
      <span style="float:right" class="cr rtl"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
      הצהרת פתאלטים (עבור א. פלסטיק)
    </label>
  </div>
  <br/>
  <div class="checkbox indent-right">
    <label>
      <input type="checkbox" [(ngModel)]="leakage" value="">
      <span style="float:right" class="cr rtl"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
      הצהרת יציבות צבעים/חומרים דולפים
    </label>
  </div>
  <br/>
  <div class="checkbox indent-right">
    <label>
      <input type="checkbox" [(ngModel)]="migration" value="">
      <span style="float:right" class="cr rtl"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
      בדיקת נדידה
    </label>
  </div>
  <br/>
  <div class="checkbox indent-right">
    <label>
      <input type="checkbox" [(ngModel)]="crm" value="">
      <span style="float:right" class="cr rtl"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
      הצהרת CMR
    </label>
  </div>
  <br/>
  <div class="checkbox indent-right">
    <label>
      <input type="checkbox" [(ngModel)]="sealed" value="">
      <span style="float:right" class="cr rtl"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
      אטימות סגירה (מיכל לחץ)
    </label>
  </div>
  <br/>
  <div class="text-field-wrapper">
    <label>מסמך יצרן</label>
    <file-upload (fileUploaded)="onFileUploaded('manufacturerFiles', $event)"></file-upload>
    <uploaded-files *ngIf="manufacturerFiles.length > 0" [filesList]="manufacturerFiles"></uploaded-files>
  </div>
  <div class="text-field-wrapper">
    <label>שמור אריזה</label>
    <button class="btn my-btn" (click)="savePackage()">שמור</button>
  </div>

  <ngx-datatable #myTable
                 class="material"
                 [columnMode]="'standard'"
                 [rows]="packaging.packages"
                 [columns]="columns"
                 style="margin-bottom: 150px;"
                 headerClass="'table-header'">
    <ngx-datatable-row-detail [rowHeight]="getHeight" #myDetailRow>
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <table style="width:50%">
          <tr>
            <td>הרכב חומר אריזה</td>
            <td>{{row.packageMaterial}}</td>
          </tr>
          <tr>
            <td>מפרט הרכב חומר אריזה</td>
            <td><img class="file-mag" src="/assets/images/file_mag.png" (click)="showFiles(row.packageMaterialSpecFiles)"></td>
          </tr>
        </table>
      </ng-template>
    </ngx-datatable-row-detail>
  </ngx-datatable>

  <ng-template #expandBtnTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
    <a
      href="#"
      [class.datatable-icon-left]="!expanded[rowIndex]"
      [class.datatable-icon-down]="expanded[rowIndex]"
      title="Expand/Collapse Row"
      (click)="toggleExpandRow(row, rowIndex)">
    </a>
  </ng-template>

  <ng-template #packageTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
    {{scrollBars.packages[row.pkg[0]].heb}}
  </ng-template>

  <ng-template #packageTypeTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
    {{row.packageType[0] !== 'other' ? scrollBars.packageTypes[row.packageType[0]].heb : row.packageTypeOther}}
  </ng-template>

  <ng-template #capacityTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
    {{row.capacity}} {{scrollBars.sizeUnits[row.sizeUnit[0]].heb}}
  </ng-template>

  <ng-template #deleteTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
    <i style="cursor:pointer;" class="fa fa-trash fa-lg" aria-hidden="true" (click)="deletePackage(rowIndex)"></i>
  </ng-template>

  <ng-template #editTemplate let-row="row" let-value="value" let-rowIndex="rowIndex">
    <i style="cursor:pointer;" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" (click)="editPackage(rowIndex)"></i>
  </ng-template>

  <uploaded-files [hideIcon]="true" #fileListViewer [filesList]="currentFileList"></uploaded-files>

  <div style="direction: ltr">{{diagnostic}}</div>
</div>
